<section id="about">
  <div class="container marketing">
    <h1><i>I am many things but on a professional note I can be <strong>defined in 3 words:</strong></i></h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="<%= image_path('thumbnails/agility.jpg')%>" alt="Generic placeholder image" width="140" height="140">
        <h2>Agility</h2>
        <p>In todays fast paced rapidly changing environment one needs to adapt to survive. This came as a challenge for me multiple times in my life when I had to leave PHP to become a Java developer in TCS. Once completing the training I had to learn Ruby on Rails as the Job demandded it.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="<%= image_path('thumbnails/honesty.jpg')%>" alt="Generic placeholder image" width="140" height="140">
        <h2>Honesty</h2>
        <p>There is no shame in admitting that there are things we donot know. The beauty is that we can learn almost everything for free. So if there is something you require of me I dont know.Expect a straight up "No! but ask me this again in 1 week."</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="<%= image_path('thumbnails/duty.jpg')%>" alt="Generic placeholder image" width="140" height="140">
        <h2>Duty</h2>
        <p>Once at work it is very important that we strive for the best. Once I am assigned a job I am commited to it and the results are well appreciated. Being the go to person for certain problems and being able to deal with them is an amazing feeling and has its own kicks.</p>
        <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  </section>