<section id="skills" class="bg-dark">
	<div class="container">
		<h2 class="text-white"><i>Over the years I have learned a lot of things but my interests brought me the following skills</i></h2>
		<div class="row">
			<div class="col-lg-10 mx-auto">
				
				<div>
					<%@skills.each do |skill|%>
					<h4 class="text-white"><%=skill.title%></h4>
					<div class="card-block">
						<div class="progress">
							<div 
							class="progress-bar progress-bar-striped bg-warning"
							role="progressbar"
							aria-valuenow="<%=skill.percent_utilized%>"
							aria-valuemax="100"
							style="width: <%=skill.percent_utilized%>%"
							></div>
						</div>
					</div>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</section>