<header class="masthead mb-auto">
	<div class="inner">
		<h3 class="masthead-brand">Faraz Noor</h3>
		<nav class="nav nav-masthead app-nav">
        	<%= nav_helper 'nav-link', '','' %>
            <%=logged_in "nav-link"%>
        </nav>
    </div>
</header>