<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Portfolios</h1>
      <p class="lead text-muted">A list of projects I have worked upon</p>
      <p>
      	<%=link_to "Portfolios",portfolios_path,class:"btn btn-primary my-2"%>
      	<%=link_to "My Blogs",blogs_path,class:"btn btn-secondary my-2"%>
        
      </p>
    </div>
</section>