<main role="main" class="inner cover">
    <div class="row">  
    <h1 class="cover-heading">“I don’t have dreams, I have goals.”</h1>  
	    <div class="col-md-6">
	    	
	    	<div class="covered">&nbsp;</div>
	    </div>
	    <div class="col-md-6">   
	        
	        <p class="lead">
	        	<%=render "shared/about"%>
	        </p>
	        
	    </div> 
	    
    </div>
    <p class="lead">
	          <%=link_to "Contact Me",pages_contact_path,class:"btn btn-lg btn-secondary" %>
	    </p>
</main>