<main role="main" class="inner cover">
        <h1 class="cover-heading">“I don’t have dreams, I have goals.”</h1>
        <p class="lead">
        	I began my Journey as an average student, living the average life, being the average person.
        	But I always had in intention of having, from being a class flunker to a topper, from being a waterboy to a state level goalie, from being a computer hater to a computer lover, I have always achieved what I wanted.
        </p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
</main>