<main role="main" class="inner cover">
        <h1 class="cover-heading">“I don’t have dreams, I have goals.”</h1>
        <p class="lead">
        	<%=render "shared/about"%>
        </p>
        <p class="lead">
          <%=link_to "Contact Me",pages_contact_path,class:"btn btn-lg btn-secondary" %>
          
        </p>
</main>