<main role="main" class="inner cover">
    <div class="app-about-container">    
        <div class="card">    
            <h1 class="cover-heading">Would you like to work together?</h1>
            <div class="row">
            	<div class="col-md-6">
            		
            		<div>
                        <h4>Email</h4>
                        <a href="mailto:faraznoor75@gmail.com?subject=PortfolioContact" target="_blank">faraznoor75@gmail.com</a>
                    </div>
            		
            	</div>
            	<div class="col-md-6">
            		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.7128779198483!2d80.94990776489661!3d26.849083133155013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399bfd0f9731bfa7%3A0xf1b7ad1911833d44!2sGanga+sagar+Complex+(Ramtirth+Marg)%2C+Ramtirth+Marg%2C+Narhi%2C+Hazratganj%2C+Lucknow%2C+Uttar+Pradesh+226001!5e0!3m2!1sen!2sin!4v1521235944070" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            	</div>
            </div>
              <%link_to "My Blogs",blogs_path,class:"btn btn-lg btn-secondary" %>
            </p>
        </div>
    </div>
</main>