	<main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome</h1>
        <p class="lead">
        	Software development is like an art,anybody can do it with the basic knowledge,but you need to love what you do inorder to achieve a masterpiece.<br>

        </p>
        <p class="lead">
          <%=link_to "About Me",pages_about_path,class:"btn btn-lg btn-secondary"%>
        </p>
    </main>